$black: #000;
$white: #fff;

$rawSienna: #d47042;
$fireFly: #0b242b;
$green: rgba(71, 106, 92, 1);
$lightGreen: #739889;
$fadedGreen: rgba(162, 201, 185, 0.2);
$salmon: rgba(246, 165, 144, 1);
$brown: #42200e;

.black {
  color: $black;
}

.white {
  color: $white;
}

.green {
  color: $green;
}

.fireFly {
  color: $fireFly;
}

.bg-black {
  background-color: $black;
}

.bg-white {
  background-color: $white;
}

.bg-green {
  background-color: $green;
}

.bg-salmon {
  background-color: $salmon;
}

.icon.white {
  fill: white;
}
