$black: #000;
$white: #fff;

$green: rgba(71, 106, 92, 1);
$fadedGreen: rgba(162, 201, 185, 0.2);
$darkGreen: rgba(162, 201, 185, 1);
$orange: rgba(241, 119, 61, 1);

.black {
  color: $black;
}

.white {
  color: $white;
}

.green {
  color: $green;
}

.icon.white {
  fill: white;
}
