@import 'colors';
@import 'text/*';
@import 'layout/*';
@import 'modules/*';

body {
    overflow-x: hidden;
}

img {
    display: block;
}

.logo {
    display: block;
    margin: 0 auto;
    width: 80%;

    @media (min-width: 1024px) {
        width: 40%;
    }
}


.logo img {
    animation: logo .9s ease;
    animation-fill-mode: forwards;
    opacity: 0;
    transform: scale(.8) translateY(20px);
}

@keyframes logo {
    100% {
        opacity: 1;
        transform: scale(1) translateY(0px);
    }
}


a {
    color: $white;
}

.grinduro-rip {
    background: linear-gradient(180deg, #503556 0%, rgba(56, 33, 62, 1) 50%);
    color: white;
}

.rsvp-and-menu {
    position: absolute;
    color: $darkGreen;
    z-index: 2;
    right: 0;
}

#loading {
    background: linear-gradient(180deg, rgba(255, 175, 68, 1) 0%, rgba(252, 191, 109, 1) 13%, rgba(252, 209, 132, 1) 55%, rgba(252, 191, 109, 1) 100%);
    width: 100vw;
    height: 100vh;

    img {
        width: 70vw;
    }
}

.sponsor-logo-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;

    img {
        max-width: 30vw;
        max-height: 30vw;
        margin-top: 7vw;
    }
}

.rsvp-big {
    border-radius: 24px;
    display: block;
    background-color: rgba(71, 106, 92, 1);
    font-family: 'KelptA1-Bold',
        Sans-Serif;

    font-size: 24px;
    color: white;
    text-align: center;
    padding: 14px 12px 8px 12px;
    letter-spacing: .5px;
    margin: 24px auto;
    text-decoration: none;
}