@import 'colors';
@import 'text/*';
@import 'layout/*';
@import 'modules/*';


img {
    display: block;
}

.logo {
    display: block;
    margin: 0 auto;
    width: 80%;

    @media (min-width: 1024px) {
        width: 40%;    
    }
}


.logo img {
    animation: logo .9s ease;
    animation-fill-mode: forwards;
    opacity: 0;
    transform: scale(.8) translateY(20px);
}

@keyframes logo {
    100% {
        opacity: 1;
        transform: scale(1) translateY(0px); 
    }
}


a {
    color: $white;
}

