.section.minifesto
    h2.f2.tc Minifesto
    p.f3 Come together to celebrate nature through camping, outdoor activities and community. Over this three day event, we can begin to reconnect with ourselves, each other and nature.
    p.f3 Whether you're trying something new or perfecting your skills, Coalescence is for the curious beginner and the experienced outdoors person. 
    p.f3 Each day you'll have the opportunity to participate in activities put on by our teachers, sponsors, partners and other Coalescees. 
    p.f3 In the evening, join everyone for a communal dinner before dancing the night away.
    p.f3 Like anything, Coalescence is what you make it. We ask that every Coalescee contribute in some way or another--whether its leading an activity, organizing a gear exchange or throwing a camp party.
    p.f3 Together, we coalesce.
