extends ../template.pug

block content
  .splash-page-container
    .section.logo
      img(src="/images/Asset.svg")
    .div-for-no-reason-other-than-flex
      .section.bg-rawSienna
        h1.Merriweather.white Coalescence is an opportunity to disconnect 
        p.white We will disconnect from technology and come together to celebrate nature through camping, outdoor activities and community. Over this three day event, we can begin to reconnect with ourselves, each other and nature.
      .section.bg-mineralGreen
        h2.Merriweather.white Stay up to date with us 
        p.white By visiting this site and sending a message to 
          a(href="mailto:coalescense@gmail.com") coalescense@gmail.com

    
    
    