extends ../template.pug

block content
  .section.header
    h2.Balsamiq Menu Pamplet Navigation Going Somewhere 
    img(src="/images/Asset.svg")
  .section.sexy-graphic.bg-rawSienna
    h3.Balsamiq.white Some sexy graphic that bleeds into the section below
  .section.bg-rawSienna
    h1.Balsamiq.white Mini-Festo
    p.Merriweather.white Coalescence is an opportunity to disconnect from technology and come together to celebrate nature through camping, outdoor activities and community. Over this three day event, we can begin to reconnect with ourselves, each other and nature.
  .section.bg-edward
    h1.Balsamiq.white Vision
    p.Merriweather.white Coalescence is an opportunity to disconnect from technology and come together to celebrate nature through camping, outdoor activities and community. Over this three day event, we can begin to reconnect with ourselves, each other and nature.
  .section.bg-mineralGreen
    h1.Balsamiq.white Audience
    p.Merriweather.white Coalescence is an opportunity to disconnect from technology and come together to celebrate nature through camping, outdoor activities and community. Over this three day event, we can begin to reconnect with ourselves, each other and nature.
  .section.bg-fireFly
    h1.Balsamiq.white Principles
    p.Merriweather.white Coalescence is an opportunity to disconnect from technology and come together to celebrate nature through camping, outdoor activities and community. Over this three day event, we can begin to reconnect with ourselves, each other and nature.
  .section.bg-white
    h1.Balsamiq.black Social Responsibility
    p.Merriweather.black Coalescence is an opportunity to disconnect from technology and come together to celebrate nature through camping, outdoor activities and community. Over this three day event, we can begin to reconnect with ourselves, each other and nature.
    
    