extends ../template.pug

block content
  .section.bg-rawSienna
    .logo
      img(src="/images/Asset.svg")
    h1.mt5.Merriweather.white Coalescence is an opportunity to disconnect 
    p.white We will disconnect from technology and come together to celebrate nature through camping, outdoor activities and community. Over this three day event, we can begin to reconnect with ourselves, each other and nature.
  .section
    h2.f2.center Minifesto
    p.f3 Coalescence is an opportunity to disconnect from technology and our nine-to-five lifestyle and come together to celebrate nature through camping, outdoor activities and community. Over this three day event, we can begin to reconnect with ourselves, each other and nature
    p.f3 Whether you're trying something new or perfecting your skills, Coalescence is for the curious beginner and the experienced outdoors person. Each day you'll have the opportunity to participate in activities put on by our teachers, sponsors, partners and other Coalescees. In the evening, join everyone for a communal dinner before dancing the night away.
    p.f3 Like anything, Coalescence is what you make it. We ask that every Coalescee contribute in some way or another--whether its leading an activity, organizing a gear exchange or throwing a camp party.
    p.f3 Together, we coalesce.
  .section
    h2.f4 Iconography row
  .section
    h2 Principles
  .section
    h2 Outdoor activities
  .section
    h2 Camping
  .section
    h2 Music & The Arts
  .section
    h2 Outdoor activities
  .section
    h2 #CoalescenseFest 
  .section.bg-mineralGreen
    h2.Merriweather.white Stay up to date with us 
    p.white By visiting this site and sending a message to 
      a(href="mailto:coalescense@gmail.com") coalescense@gmail.com

    
    
    