.section {
  background-color: rgba(71, 106, 92, 1);
  color: white;
  padding: 24px 24px 64px;

  &.minifesto {
    padding-top: 74px;
  }

  &.light {
    background-color: white;
    color: $green;

    h2 {
      border-bottom: 2px solid rgba(71, 106, 92, 1);
      color: $green;
    }
  }

  &.join-us {
    padding-bottom: 0;
  }

  h2 {
    border-bottom: 2px solid $white;
    color: $white;
    font-weight: bold;
    font-size: 32px;
    display: block;
    text-align: center;
    padding: 24px 0 12px;

    &.no-underline {
      border-bottom: 0;
    }
  }

  h3 {
    font-size: 36px;
  }

  p {
    font-size: 24px;
    line-height: 1.5;
    margin-top: 16px;
  }

  &.stay-active {
    padding-bottom: 80px;
    padding-top: 60px;
  }

  &.sponsors {
    padding-bottom: 60px;
    padding-top: 60px;
  }

  &.powers-combined {
    padding-top: 60px;
    h2 {
      font-size: 30px;
    }
  }
}

.section > .section {
  padding-left: 0;
  padding-right: 0;

  &:not(:first-child) {
    padding-top: 0;
  }
}

.min-80vh {
  min-height: 80vh;
}

@media (min-width: 768px) {
  .section {
    padding: 74px 80px;

    h2 {
      font-size: 64px;
    }

    p {
      font-weight: 800;
      font-size: 28px;
    }
    p + p {
      margin-top: 24px;
      font-size: 24px;
    }
  }
}

@media (min-width: 1280px) {
  .section {
    padding: 74px 80px;
  }
}

.about {
  padding-top: 64px;
}

@media (min-width: 1280px) {
  .about {
    padding-top: 120px;
    h2 {
      text-align: left;
      border-bottom: 0;
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
}
