.section {
    background-color: rgba(71, 106, 92, 1);
    color: white;
    padding: 24px;

    &.light {
        background-color: white;
        color: rgba(71, 106, 92, 1);

        h2 {
            border-bottom: 2px solid rgba(71, 106, 92, 1);
        }
    }

    &.join-us {
        padding-bottom: 0;
    }

    h2 {
        display: inline-block;
        border-bottom: 2px solid $white;
        font-weight: bold;
        font-size: 30px;

        &.no-underline {
            border-bottom: 0;
        }
    }

    h3 {
        font-size: 36px;
    }

    p {
        font-size: 24px;
        line-height: 1.5;
        margin-top: 16px;
    }

    &.stay-active {
        padding-bottom: 80px;
        padding-top: 60px;
    }

    &.sponsors {
        padding-bottom: 60px;
        padding-top: 60px;
    }

    &.powers-combined {
        padding-top: 60px;
        h2 {
            font-size: 30px;
        }
    }

}

.section>.section {
    padding-left: 0;
    padding-right: 0;

    &:not(:first-child) {
        padding-top: 0;
    }
}

.min-80vh {
    min-height: 80vh;
}

@media (min-width: 1280px) {
    .section {
        padding: 2vw 10vw;
    }
}