html:not([data-scroll='0']) {
    .burger-and-fries-container {
        background: #fff;

        .logo-in-navigation {
            opacity: 1;
        }
    }

}

.burger-and-fries-container {
    display: flex;
    justify-content: space-between;
    height: 48px;
    padding: 12px;
    position: fixed;
    transition: 0.3s ease-in;
    width: 100%;
    z-index: 2;

    .logo-in-navigation {
        max-width: 94px;
        opacity: 0;
        margin-left: 12px;
        transition: .3s ease-in;
    }

    .burger-and-fries {
        display: flex;
        align-items: center;
    }

    .rsvp {
        border: 1px solid black;
        color: black;
        padding: 4px 20px;
        border-radius: 4px;
        text-decoration: none;

        span {
            display: block;
            padding-top: 6px;
        }
    }

    .burger {
        display: block;
        position: relative;
        width: 20px;
        line-height: 0;
        margin-left: 12px;
    }
}