@media screen and (max-width: 576px) {
  header.parallax-header {
    height: 350px !important;
  }
}

@media screen and (max-width: 769px) {
  header.parallax-header {
    height: 700px;
  }
}

@media screen and (max-width: 769px) {
  header.parallax-header {
    height: 600px;
  }
}

.parallax-header {
  z-index: 1;
}

.title-container {
  align-items: center;
}

header {
  background: linear-gradient(
    180deg,
    rgba(255, 175, 68, 1) 0%,
    rgba(252, 191, 109, 1) 13%,
    rgba(252, 209, 132, 1) 55%,
    rgba(252, 191, 109, 1) 82%,
    rgba(107, 123, 95, 1) 91%,
    rgba(71, 106, 92, 1) 100%
  );

  h1,
  span {
    color: white;
    display: block;
    text-shadow: -2px 1px 7px rgba(0, 0, 0, 1);
  }

  h1 {
    font-weight: bold;
    font-size: 10vw;
  }

  span {
    text-transform: uppercase;

    &.disconnect {
      font-size: 5.8vw;
      margin-top: 36px;
    }

    &.reconnect {
      font-size: 7.5vw;
    }
  }

  .primary-title {
    margin-top: 19vw;
    margin-left: 5vw;
    width: 6vw;
  }

  .layer-1,
  .layer-5 {
    bottom: -30px;
  }

  .layer-2 {
    bottom: -50px;
  }
}

@media (min-width: 768px) {
  header {
    .primary-title {
      margin-top: 2vw;
      margin-left: 2vw;
      width: 50vw;
    }
  }
}

.sliding-background {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  top: 15vw;
  left: 0;
  z-index: 25;
  .sliding-background-inner {
    display: flex;
    height: 100%;
  }
}

@media (min-width: 1024px) {
  .sliding-background {
    top: 8vw;
  }
}

@media (min-width: 768px) {
  .burger-and-fries-container .logo-in-navigation {
    transform: translate(4vw, 8vw);
    width: 50vw;
  }
}

@media (max-width: 1280px) {
  .menu-on-large {
    display: none;
  }
}

@media (min-width: 1280px) {
  html:not([data-scroll="0"]) .burger-and-fries-container .logo-in-navigation {
    width: 200px;
    transform: translate(4vw, 6px);
  }

  .not-home .burger-and-fries-container .logo-in-navigation,
    padding-top: 6px;
  }


  .burger-and-fries-container {
    height: 96px;

    .burger-and-fries {
      display: none;
    }

    .menu-on-large {
      display: flex;
      height: 100%;
      align-items: center;
      margin-right: 24px;
    }

    a {
      background-color: $orange;
      color: $white;
      letter-spacing: 1.4px;
      font-size: 32px;
      font-family: "KelptA1-Bold";
      text-decoration: none;
      text-transform: uppercase;
      padding: 12px 16px 4px;
      transition: 300ms ease-in;
      position: relative;

      &:not(:first-child) {
        margin-left: 24px;
      }

      &:hover:not(.logo-in-navigation) {
        background-color: darken($orange, 10%);
        transform: translate(0, -2px);
      }

      &.active::after {
        position: absolute;
        content: "";
        z-index: 100;
        width: 100%;
        height: 5px;
        border-bottom: 5px solid $white;
        left: 0;
        bottom: 0;
      }
    }
  }

  .not-home,
  html:not([data-scroll="0"]) {
    .burger-and-fries-container a {
      background-color: transparent;
      color: $green;

      &:hover:not(.logo-in-navigation) {
        background-color: $green;
        color: $white;
      }
      &.active::after {
        border-bottom: 5px solid $green;
      }
    }
  }
}

@media (min-width: 1600px) {
  .not-home .burger-and-fries-container .logo-in-navigation,
  html:not([data-scroll="0"]) .burger-and-fries-container .logo-in-navigation {
    transform: translate(20vw, 12px);
  }
  .burger-and-fries-container {
    .menu-on-large {
      margin-right: 10vw;
    }
  }
}

.not-home {
  .burger-and-fries-container a {
    background-color: transparent;
    color: $green;
  }
}
