.newsletter {
  background: $fadedGreen;
  color: $green;
  h2 {
    color: $green;
    text-align: left;
    border-bottom: 0;
    padding-bottom: 0;
  }
  p {
    margin-top: 0;
  }
}

#mc_embed_signup form {
  padding: 12px 0 0;

  .mc-field-group {
    padding-top: 12px;
    width: 100%;
  }

  input,
  textarea {
    border: 1px solid $green;
  }

  textarea {
    border-radius: 4px;
    width: 100%;
  }

  .cta {
    border-radius: 24px;
    color: $white;
    height: inherit;
    letter-spacing: 0.5px;
    margin: 24px 0 0;
    text-align: center;
    width: 100%;
  }
}

#mc_embed_signup .indicates-required {
  text-align: inherit;
  font-size: 14px;
}

@media (min-width: 1024px) {
  .newsletter {
    background: $white;
  }
}
