.picture-frame {
  background-image: url(../../images/patterns/Group2.png);
  background-attachment: fixed;
  background-size: 160px;

  padding: 64px 24px;
}

@media (min-width: 768px) {
  .picture-frame {
    background-size: 160px;
    padding: 64px 100px;
  }
}

@media (min-width: 1280px) {
  .picture-frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    > * {
      min-height: 300px !important;
      margin-top: 32px;
      + * {
        margin-top: 64px;
        display: block;
      }
    }
  }
}

.image-border {
  border: solid 5px $green;
  @media (min-width: 1280px) {
    border: solid 15px $green;
  }
}

.image-border-1 {
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

.image-border-2 {
  border-radius: 100px 40px 25px 15px/15px 100px 225px 105px;
}
